@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'terminal';
}

@font-face {
	font-family: 'terminal';
	font-style: normal;
	/* font-weight: 4200; */
	src: url('./fonts/bianzhidai_noBG-Stitches.woff') format('woff2');
}

@font-face {
	font-family: 'picnic';
	font-style: normal;
	/* font-weight: 4200; */
	src: url('./fonts/PicNic-Regular.woff2') format('woff2');
}

p {
	font-family: 'picnic', serif;
	font-size: 3em;
	/* font-weight: 10; */
	/* font-size: 10em; */
}

h1 {
	font-family: 'terminal', sans-serif;
	font-size: 1em;
}

span {
	font-family:inherit;
	font-size:inherit;
}

